[Unit]
Description=SGCTF Leaderboard

[Service]
User=leaderboard
Group=leaderboard
ExecStart=/home/leaderboard/startleaderboard

[Install]
WantedBy=multi-user.target

